@let assets = assets$ | async;
@let topExchange = topExchange$ | async;

<section class="grid gap-6">
  <div class="flex items-end justify-between gap-4">
    <doge-page-title
      h1="Market overview"
      p="BTC, ETH and DOGE. Very serious finance. Much professional."
    ></doge-page-title>

    <button matButton="outlined" (click)="reload()">Rafraîchir</button>
  </div>

  @if (isLoadingAssets() && !assets?.length) {
    <mat-progress-spinner mode="indeterminate" diameter="50" class="mx-auto"></mat-progress-spinner>
  } @else {
    @if (assetsError(); as error) {
      <doge-error [errorMessage]="error"></doge-error>
    } @else {
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
        @for (asset of assets; track asset.id) {
          <doge-price-card
            [asset]="asset"
            [highlight]="asset.id === 'dogecoin'"
            [isLoading]="isLoadingAssets()"
          />
        }
      </div>
    }
  }

  @if (isLoadingTopExchange() && !topExchange) {
    <mat-progress-spinner mode="indeterminate" diameter="50" class="mx-auto"></mat-progress-spinner>
  } @else {
    @if (topExchangeError(); as error) {
      <doge-error [errorMessage]="error"></doge-error>
    } @else {
      <doge-exchange-highlight
        [exchange]="topExchange ?? undefined"
        [isLoading]="isLoadingTopExchange()"
      />
    }
  }

  <div class="ml-auto">
    <button matButton="filled" routerLink="/tickets">Buy tickets in DOGE →</button>
  </div>
</section>
